env/

*.pyc
*.pyo
*.pyd
__pycache__/

.idea/
.vscode/
*.sublime-workspace
*.sublime-project

*.log

*.tmp
*.swp
*.swo
*~

*.sqlite3

.DS_Store
Thumbs.db

pip-log.txt
pip-delete-this-directory.txt

.env
